<div class="work-pile">
  <ul class="work-pile__items">
    <li class="work-pile__item">
      <img src="/assets/images/work/canadian-sushi@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/curatious@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/dacha-wallpaper@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/edifi@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/f-t-i-brazil@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/f-t-i-mexico@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/kitchen@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/marka-v-i-p-2@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/marka-v-i-p@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/nico@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/overhead@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/roomchat@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/smoking@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/stamp@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/tea-lamp@2x.png">
    </li>
    <li class="work-pile__item">
      <img src="/assets/images/work/v-a-wallpaper@2x.png">
    </li>
  </ul>
</div>
