$page-width-max: 56.25em; // 900 / 16 * 1em

* {
  box-sizing: border-box;
}

body {
  padding: $body-padding;
  background: $color-background;
}

.page-container {
  max-width: $page-width-max;
  margin: 0 auto;
}
