.work-pile__items {
  @extend .reset-ul;
  position: relative;
}

.work-pile__items {
  min-height: 75vh;
  margin: 0 auto;
  &:hover img {
    transition: filter, 0.25s;
    filter: brightness(0.75) saturate(0.75) blur(5px);
  }
}

.work-pile__item {
  @include larger-than(mobile) {
    position: absolute;
  }
  cursor: move;
  left: 50%;
  top: 50%;
  transition: transform, 0.4s;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  @for $i from 1 to 99 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.1s + 1s;
    }
  }
  img {
    transition: opacity, 0.25s;
  }
  &.ui-draggable-dragging {
    transition: none;
  }
  &:hover {
    z-index: 9999 !important;
    img {
      animation: sizeBounce 0.25s forwards;
      filter: brightness(1) saturate(1) blur(0);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sizeBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.025);
  }
}
