@font-face {
  font-family: 'GT America';
  src: url('/assets/fonts/gt-america/GT-America-Regular.eot');
  src: url('/assets/fonts/gt-america/GT-America-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gt-america/GT-America-Regular.woff') format('woff'),
    url('/assets/fonts/gt-america/GT-America-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
