<footer class="site-footer">
  <div class="site-footer__imprint">
    <span>&copy; {{site.time | date: '%Y'}} Haik Avanian. All Rights Reserved.</span>
  </div>
  <div class="site-footer__contact">
    <span>Get in touch today!</span>
    <ul class="site-footer__social-items">
      <li class="site-footer__social-item">
        <a class="site-footer__social-link--instagram" href="#">Instagram</a>
      </li>
      <li class="site-footer__social-item">
        <a class="site-footer__social-link--twitter" href="#">Twitter</a>
      </li>
      <li class="site-footer__social-item">
        <a class="site-footer__social-link--linkedin" href="#">LinkedIn</a>
      </li>
    </ul>
  </div>
</footer>
