<header>
  <nav class="site-nav">
    <div class="site-nav__title">
      <a class="site-nav__link" href="/">Haik Avanian</a>
    </div>
    <div class="site-nav__menu">
      <ul class="site-nav__items">
        <li class="site-nav__item--left">
          <a class="site-nav__link" href="/">View Catalog</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/blog">Blog</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/information">Information</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="site-headline">
    <div class="site-headline__title">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="site-headline__caption">
      <span>{{ page.caption }}</span>
    </div>
  </div>
</header>
